.footer{
    align-items: center;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding: 5%;
    width: 100%;
}

.redes {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}
.redes-item {
    height: 50px;
    width: 50px;
}
.redes-item-facebook {
    height: 45px;
    width: 45px;
}